body,header,section,footer,div,p,img,dl,dt,dd,a,ul,li,span,i,h1,select,input,label,button,table,tr,th,td,textarea{margin: 0;padding: 0}
select,input,button{outline: none}
body{font-size: 14px;background-color:#f5f5f5;font-family: Microsoft YaHei, Heiti SC;color: #5a5a5a;min-width: 1200px; }
ul {list-style: none;}
a{ color:#000;text-decoration: none;}
i{font-style: normal;color:#949494;}
img{border: none;vertical-align: middle}
input[type=checkbox]{ vertical-align: middle;}
.container{width:1200px;margin: 0 auto;}
table{    border-collapse: collapse;}
/*header*/
header{background: #fff;height: 80px;box-shadow: 0px 1px 3px rgba(0,0,0,0.2);margin-bottom: 2px}
.logo{ float: left;  padding-left:5px;}
.logo .qtl-logo-pic{  float: left;}
/*.logo .qtl-data{ display: inline-block;height: 40px;line-height: 40px; margin: 20px 0px 20px 15px;border-left: 1px solid #e6e6e6;color: #386cca;font-size: 24px}*/
.logo .qtl-data{ display: inline-block;height: 40px;line-height: 40px; margin: 20px 0px 20px 15px;color: #0F9145;font-size: 24px}
.logo img{width: 166px; height: 44px;margin-top: 16px; margin-left: 20px;}
.logo img.back-index{width: 24px; margin-top: -9px; height: 23px;margin-left: 10px;    padding-right: 8px;}
.login-out{line-height: 80px;float: right;padding-right: 30px;}
.login-out a{
    margin-left: 10px;
    font-size: 16px;
    height: 16px;
    display: inline-block;
    line-height: 14px;
    text-align: center;
    /*color: #5c8ce6;*/
    color : #0F9145;
}
/*
.login-out a.register{color:#5c8ce6;padding:10px;border-radius:2px }
button.btn:hover{background-color: #586cca!important;}
button.btn-fill:hover{background-color:#5c8ce6;color:#fff}
*/
.login-out a.register{color:#0F9145;padding:10px;border-radius:2px }
button.btn:hover{background-color: #0F9145!important;}
button.btn-fill:hover{background-color:#0F9145;color:#fff}
/*banner*/

.search{
    height: 40px;
    /*background-color: #e6ebf1;*/
    background-color: #e7f2ec;
    text-align: center;
    line-height: 40px;
    padding: 5px 0;
    width: 1050px;
    margin: 0 auto;
}
.search select::-ms-expand { display: none; }
.search select{
    padding: 0 0 0 30px;
    width: 120px;
    color: #9a9a9a;
    background: #fff;
    border-top-left-radius: 15px;
    border-bottom-left-radius:15px;
    height: 35px;
    line-height: 35px;
    border: none;
    margin-right: -4px;
    border-right: 1px solid #e8e8e8;
    text-transform: capitalize;
}
.search select option{
    line-height: 25px;
    height: 25px;
    text-align: center;
}
.search label{
    position: relative;
}
.search label input{
    width:450px;
    background-color: #fff;
    height: 35px;
    border: none;
}
.search label input{
    padding:0 15px;
    margin-right: -6px;

}
.clear-input{
    position: absolute;
    right: 145px;
    cursor: pointer;
    display: inline-block;
}
.clear-input img{
    vertical-align: middle;
}
.search label input::-webkit-input-placeholder {
    color:#d5d5d5
}
.search label input::-moz-placeholder{
    color:#d5d5d5
}
.search label input:-ms-input-placeholder{
    color:#d5d5d5
}
.search label button{
    width: 130px;
    /*background-color:#5d8ce6 ;*/
    background-color:#0F9145;
    color: #fff;
    height: 35px;
    border: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius:15px;
    overflow: hidden;
    line-height: 35px;
}
.search label button:hover{
    background-color: #0F9145;
    cursor: pointer;
}
.search label button img{
    width: 17px;
    height: 16px;
    vertical-align: middle;
}

/*sidebar*/
aside{
    width: 300px;
    background-color: #fff;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.2);
    float: left;
    position: relative;
    z-index: 9;
}
.nav{
    position: relative;
}
.nav li{
    display: block;
    border:1px solid #fff;
    border-bottom: 1px solid #e6e6e6;
}
/*.nav:hover{*/
    /*z-index: 99;*/
/*}*/
/*.nav li:hover{*/
    /*border: 1px solid #3c6cc1;*/
    /*border-right: 1px solid #fff;*/
/*}*/
.nav li a{
    display: inline-block;
    padding: 9px 27px;
    position: relative;
}


.nav li {
    position: relative;
}

.second-text {
    position: absolute;
    top: -1px;
    left: 298px;
    /*border: 1px solid #386cca;*/
    border: 1px solid #0F9145;
    z-index: 15;
    background-color: #fff;
    width: 500px;
    padding: 10px 15px;
    min-height: 32px;
}

.nav .second-text a {
    float: left;
    padding: 5px;
    display: block;
    margin-right: 15px;;
}

.nav .second-text a:hover {
    background-color: #eff3fa;
    /*color: #5c8ce6;*/
    colot: #0F9145;
    border-radius: 2px;
}
.nav-right-border {
    display: none;
    width: 3px;
    position: absolute;
    top: 0px;
    height: 52px;
    background-color: #fff;
    right: -2px;
    z-index: 20;
}

.text{
    float: left;
    width: 240px;
}
.text span{
    display: block;
}
.text i{
    display: block;
}
.arrow-right{
    position: absolute;
    top: 30%;
    right: 0;
}
.arrow-right img{
    width: 15px;
    height: 15px;
}
.n-text{
    font-size: 16px;
    color: #333333;
}
.s-text{
    font-size: 12px;
    color: #999999;
}
.item-header{
    height: 80px;
    line-height: 80px;
    padding: 0 30px;
    //border-bottom: 1px solid #e6e6e6;
}
.icon-left{
    float: left;
    font-size: 22px;
    /*color: #386cca;*/
    color : #0F9145;
}
.icon-left img{
    width: 27px;
    height: 35px;
    padding-right: 5px;
    vertical-align: middle;
}
.icon-left i{
    padding-left: 5px;
    font-size: 17px;
    letter-spacing: 2px;
}
.icon-right{
    float: right;
    width: 27px;
    height: 50px;
}
.icon-right img{
    width: 27px;
    height: 35px;
}
/*article*/
article{
    width: 895px;
    background: #fff;
    float: left;
    margin-left: 5px;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.2);
    padding-bottom: 10px;
}
article .item-header{
    border-bottom: 1px solid #e6e6e6;
}
article .item-header .icon-left{
    /*padding-left: 27px;*/
}
article .item-header .icon-left img{
    width: 30px;
    height: 30px;
}
section:after{
    content: "";
    display: block;
    clear: both;
}
section.container{
    margin-bottom: 25px;
}
/*explain*/
.explain{
    height: 100px;
    background-color: #fff;
    margin-bottom: 80px;
    padding:25px 30px;
    width: 1140px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.4);
}
.explain-title {
    /*color: #5c8ce6;*/
    color : #0F9145;
    font-size: 24px;
}
.explain-text{
    color: #999999;
    line-height: 26px;
    padding-top: 8px;
}
.explain-title img{
    width: 25px;
    height: 25px;
    margin-right: 15px;
    vertical-align: middle;
}

    /*footer*/
/*footer{background-color: #386cca;color:#fff ;clear: both}*/
footer{background-color: #0F9145;color:#fff ;clear: both}
footer dl{ float: left;padding: 40px 90px; margin-left: 13px;}
footer dl dt{line-height: 55px;font-size: 20px}
footer dl dt  a,footer dl dd a{color:#fff}
footer dl dd{line-height: 35px;font-size: 15px}
footer dl dd.qr-code{background-color: #fff;width: 120px;height: 120px;line-height: 0}
footer dl img{ width: 120px;height: 120px;}
footer p{    clear: both;    text-align: center;padding-bottom: 25px}

/* ktPaginate Style */
.ktPaginate{
    float: right;
}
.ktPaginate ul {
    list-style: none;
    padding-right: 12px
}
.ktPaginate ul li {
    background-color: #f4f4f4;
    border: 1px solid #f4f4f4;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
    cursor: pointer;
}
.ktPaginate ul li:hover{
    background-color: #e4e4e4;
}
.ktPaginate ul li:hover a{
    /*color: #007be9;*/
    color: #0F9145;
}
.ktPaginate ul li a {
    text-decoration: none;
    padding: 5px 10px;
    display: block;
    color:#666666
}
.ktPaginate ul li.active a{
    color: #fff;
}
.ktPaginate ul li.active{
    /*background-color:#5c8ce6;
    border: 1px solid #5c8ce6;*/
    background-color: #0F9145;
    border: 1px solid #0F9145;;
}
.ktPaginate ul li.disabled a, .ktPaginate ul li.disabled:hover a, .ktPaginate ul li.disabled:active a{
    color:#666;
    cursor: not-allowed;
}
.ktPaginate ul li.disabled, .ktPaginate ul li.disabled:hover, .ktPaginate ul li.disabled:active{
    background-color:#fff;
    cursor: not-allowed;
}
.ktPaginate .controls {
    background-color: transparent;
    border: medium none;
    cursor: pointer!important;
    color: #666;
}
.ktPaginate .controls:hover{
    background-color: transparent;
    border: medium none;
}
.ktPaginate .controls input{
    width: 40px;
    border: 1px solid #f4f4f4;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 5px 10px;
}
.ktPaginate .controls .show-number{
    color: #666;
}

/* genesInfo  */
.genesInfo{
    position: fixed;
    z-index: 10000;
    top:0;
    left: 18%;
    border: 1px solid #e6e6e6;
    background: #fff;
}
.genesInfo iframe{
    width: 1000px;
    height: 600px;;
    overflow: scroll;
    padding: 0 15px;
}
.genesInfo-head{
    background-color: #F7F7F9;
    height: 35px;
    line-height: 35px;
    padding: 0 10px;;
}
.genesInfo-head p{
    float: left;
}
.genesInfo-head a{
    float: right;
    color:#BFBFBF;
    font-size: 25px;;
}
.genesInfo-body{
    padding: 0 15px;;
}
.genesInfo-body >div{
    margin-bottom: 30px;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 20px;;
}
.basic-information .basic-information-tab{
    height: 468px;
    overflow: auto;
}
.basic-information p,.gens-structure p,.domain-structure p,.go-annotation p{
    font-weight: bolder;
    font-size: 18px;
    padding: 15px 0;;
}
.basic-information table{
    padding-bottom: 20px;
}
.basic-information table tr td,  .go-annotation table tr td{
    border: 1px solid #e6e6e6;
    padding: 8px 14px;;
}
.basic-information table tr td:nth-child(1){
    width: 180px;;
}
.domain-structure tbody tr td{
    border:1px solid #e6e6e6;
    padding: 5px 10px;
}
.basic-information tbody tr:nth-child(odd){
    background-color: #F9F9F9;
}
.domain-structure tbody tr:nth-child(1){
    background-color: #F7F7F7
}
.domain-structure tbody tr:nth-child(2){
    background-color: #F9F9F9
}
.go-annotation tbody tr td:nth-child(2){
    width: 200px;
}
.go-annotation-tab{

}
.basic-information .basic-information-tab::-webkit-scrollbar,.go-annotation::-webkit-scrollbar{
    width: 10px;
    height: 10px;
    background-color: #fff;
}
/*定义滚动条轨道 内阴影+圆角*/
.basic-information .basic-information-tab::-webkit-scrollbar-track,.go-annotation::-webkit-scrollbar-track{
    -webkit-box-shadow:  0 0 2px rgba(0,0,0,0.3);
    border-radius: 5px;
    background-color: #F5F5F5;
}
/*定义滑块 内阴影+圆角*/
.basic-information .basic-information-tab::-webkit-scrollbar-thumb,.go-annotation::-webkit-scrollbar-thumb {

    -webkit-box-shadow:  0 0 2px rgba(0,0,0,.3);
    border-radius: 5px;
    background-color: #ccc;
}
/*#general a.register {*/
    /*background-color: rgb(92, 140, 230);*/
    /*color: rgb(255, 255, 255);*/
    /*padding: 10px;*/
    /*border-radius: 2px;*/
/*}*/
.active{
    /*background-color: rgb(92, 140, 230);*/
    background-color : rgb(15,145,69);
    color:#fff!important;
    padding: 10px;
    border-radius: 2px;
}
#general a {
    margin-left: 10px;
    font-size: 16px;
    height: 16px;
    display: inline-block;
    line-height: 14px;
    text-align: center;
    /*color: rgb(92, 140, 230);*/
}

