.banner,.database-link >div,.database-overview {
    box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
}
.plant-pic{background-color: #fff;text-align: center;padding-bottom: 30px;border-bottom: 1px solid #e6e6e6;}

.tabs{background-color: #fff;padding: 24px 50px;margin-bottom: 17px}
.tabs:after{content: "";display: block;clear: both}
.searchNav{float: left;margin-right: 50px}
.searchNav li {
    width: 213px;
    display: block;
    line-height: 44px;
    margin-bottom: 12px;
    position: relative;
}
.searchNav li:last-child{margin-bottom: 0}
.searchNav  li a{
    width: 232px;
    height: 44px;
    display: block;
    color: #fff;
    text-align: center;
}
.searchNav  li a:hover{
    cursor: pointer;
}
.searchNav li.geneIdName a{
    background-color:#f59f62 ;
}
.searchNav li.geneFunction a{
    background-color:#6cdbd9 ;
}
.searchNav li.region a{
    background-color:#b2b2b2 ;
}
.searchNav li.qtl a{
    background-color:#a2a2f1 ;
}
.searchNav li.active:after{
    content: "";display: block;
    position: absolute;
    top: 15px;
    right: -34px;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}
.searchNav li.geneIdName.active:after{
    border-left: 15px solid #f59f62;
}
.searchNav li.geneFunction.active:after{
    border-left: 15px solid #6cdbd9;
}
.searchNav li.region.active:after{
    border-left: 15px solid #b2b2b2;
}
.searchNav li.qtl.active:after{
    border-left: 15px solid #a2a2f1;
}
.tab-content{padding-top: 12px; float: left}
.search-title {font-size: 18px;color: #333;    padding-bottom: 32px;}
.search-input{    width: 553px;
    height: 48px;
    float: left;
    border: 1px solid #e6e6e6;
    padding: 0 25px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;}
.search-btn{    width: 140px;
    height: 50px;
    border: 1px solid #5c8ce6;
    background: #5c8ce6;
    color: #fff;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
.search-btn:hover{cursor: pointer}
.search-btn img{vertical-align: middle;margin-right: 5px;width: 15px;  }
.search-tips{color:#999;padding-left: 24px;padding-top: 12px}
.search-tips a{color: #5c8ce6}
.search-tips a:hover{color: #386cca;text-decoration: underline}
.search-tips a b{color: #999}
.tab-content  .tab-pane {display: none;}
.tab-content > .tab-pane-ac { display: block;  }
#Region .search-title{padding-bottom: 0px;  }
.js-region{margin: 17px 0;padding:0 10px;width: 200px;height: 40px;border: 1px solid #e6e6e6}
.region-input{    width: 178px;  padding: 0 10px;height: 45px;border: 1px solid #e6e6e6;float: left;}
.s-line{    width: 30px;display: inline-block;margin: 0 20px;height: 1px;background: #e6e6e6;margin-top: 25px;float: left}
.region-search{
    margin-left: 34px;
    height: 45px;
    width: 120px;
    border-radius: 25px;
    border: 1px solid #5c8ce6;
    background: #5c8ce6;
    color: #fff;
}
.region-search:hover,.search-btn:hover{cursor: pointer}
.region-search img{
    vertical-align: middle;
    width: 15px;
    margin-right: 5px;
}
.database-link > div{float: left;background: #fff;padding: 15px 20px}
.database-link > div a{display: block}
.mrna-link{margin: 0 15px}
.line-h{
    color: #5c8ce6;
    padding-bottom: 8px;
    border-bottom: 1px solid #e6e6e6;
    font-size: 16px;
}
.link-b{margin-top: 5px}
.database-link{margin-bottom: 17px}
.database-link:after{content: "";display: block;clear: both}
.search-region-tips{clear: both;padding-top: 5px;color: #999}
.database-overview {
    margin-top: 20px;
    background-color: #fff;
    padding: 0 20px;
    margin-bottom: 50px;
}
.database-overview .explain-title {
    padding-top: 15px;
    padding-bottom: 10px;
}
.explain-title {
    color: #5c8ce6;
    font-size: 24px;
}
.explain-title img {
    width: 25px;
    height: 25px;
    margin-right: 15px;
    vertical-align: middle;
}
.database-overview .explain-text {
    padding-bottom: 20px;
}
.explain-text {
    color: #999999;
    line-height: 26px;
    padding-top: 8px;
}
/**----------------list**/
.search-result{
    background:#fff ;
    margin-bottom: 50px;
}
.search-result-h{
    background: #e6eaf2;
    height: 70px;
    line-height: 70px;

}
.result-title{
    float: left;
    width: 120px;
    height: 70px;
    text-align: center;
    font-size: 18px;
    color: #ffffff;
    background: #5c8ce6;
}
.result-text{
    margin-left: 30px;
    float: left;
}

/*分页*/
.ga-ctrl-footer {
    text-align: right;
    padding: 10px 10px 20px 0;
}
.pagination {
    display: inline-block;
}
.per-page-count {
    display: inline-block;
    vertical-align: bottom;
}
.pagination .laypage_main * {
    font-size: 14px;
}
.lay-per-page-count-select {
    height: 33px;
    padding: 0 0 0 5px;
    box-sizing: border-box;
    border: 1px solid #DDD;
    margin: 0 5px;
}
.pagination .laypageskin_molv a, .pagination .laypageskin_molv span {
    border-radius: 0px;
}
.pagination .laypage_main a, .pagination .laypage_main span {
    margin: 0;
    height: 33px;
    width: 33px;
    padding: 0;
    text-align: center;
    line-height: 33px;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    background: #fff;
}
.pagination .laypage_main a.laypage_next {
    border-right: 1px solid #ddd;
}
.pagination .laypage_main .laypage_total {
    width: 125px;
    border: none;
    margin: 0 20px;
}
.pagination .laypageskin_molv .laypage_curr {
    border-top: 1px solid #5c8de5;
    border-bottom: 1px solid #5c8de5;
}
.pagination .laypage_main input {
    height: 33px;
    line-height: 33px;
}
.pagination .laypage_main button {
    display: none;
}
.total-page-count {
    display: inline-block;
    vertical-align: bottom;
    margin-left: 15px;
    height: 28px;
}
/*列表*/
.search-result-b,.tab-list{clear: both}
.search-result-b{padding-top: 24px}

.list:after{content: "";display: block;clear: both}
.list{margin-bottom: 30px}
.list:last-child{margin-bottom: 18px}
.tab-index{
  width: 60px;
  float: left;
    padding-left: 24px;
}
.list-content{float: left;width: 1110px}
.content-h a{color: #5c8ce6;text-decoration: underline;font-size: 18px}
.h-tips{margin: 5px 0 15px 0}
.backtop{float: left;line-height: 55px;padding-left: 24px;color: #5c8ce6;font-size: 18px}
input::-webkit-input-placeholder {
    color:#999;
    font-size:14px;
}
/**-------------------------details**/
.detail-name{
    height: 70px;
    line-height: 70px;
    font-size: 20px;
    background: #fff;
    padding-left: 24px;
    margin-bottom: 15px;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
}
.detail-content{;margin-bottom: 50px}
.detail-content:after{content: '';display: block;clear: both}
.content-sidebar{width: 270px;float: left;background: #fff;box-shadow: 0px 1px 3px rgba(0,0,0,0.2);margin-right:20px}
.content-sidebar li.sidebar-ac{background: #5c8ce6;}
.content-sidebar li.sidebar-ac a{color: #fff}
.content-sidebar li{height: 60px;border-bottom: 1px solid #e6e6e6;line-height: 60px}
.content-sidebar li a i{display: inline-block;width: 20px;height: 20px;vertical-align: middle;padding-left: 30px;padding-right: 12px;    font-size: 20px;
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-position: 30px 0px;
}
.content-sidebar li a{font-size: 16px; display: block;}
.content-sidebar li a.basic i{background-image:url("../images/i-1.png") ;}
.content-sidebar li a.sequence i{background-image:url("../images/i-2.png") ;}
.content-sidebar li a.gene-structure i{background-image:url("../images/i-3.png") ;}
.content-sidebar li a.gene-annotation i{background-image:url("../images/i-4.png") ;}
.content-sidebar li a.gene-family i{background-image:url("../images/i-5.png") ;}
.content-sidebar li a.homologous-gene i{background-image:url("../images/i-6.png") ;}
.content-sidebar li a.expression-data i{background-image:url("../images/i-7.png") ;}
.content-sidebar li a.qtl-data i{background-image:url("../images/i-8.png") ;}
.content-sidebar li a.variation-data i{background-image:url("../images/i-9.png") ;}
.content-sidebar li a.regulatory-network i{background-image:url("../images/i-10.png") ;}
.content-sidebar li a.coexpression-network i{background-image:url("../images/i-11.png") ;}
.content-sidebar li.sidebar-ac a.basic i{background-image:url("../images/i-1-ac.png") ;}
.content-sidebar li.sidebar-ac a.sequence i{background-image:url("../images/i-2-ac.png") ;}
.content-sidebar li.sidebar-ac a.gene-structure i{background-image:url("../images/i-3-ac.png") ;}
.content-sidebar li.sidebar-ac a.gene-annotation i{background-image:url("../images/i-4-ac.png") ;}
.content-sidebar li.sidebar-ac a.gene-family i{background-image:url("../images/i-5-ac.png") ;}
.content-sidebar li.sidebar-ac a.homologous-gene i{background-image:url("../images/i-6-ac.png") ;}
.content-sidebar li.sidebar-ac a.expression-data i{background-image:url("../images/i-7-ac.png") ;}
.content-sidebar li.sidebar-ac a.qtl-data i{background-image:url("../images/i-8-ac.png") ;}
.content-sidebar li.sidebar-ac a.variation-data i{background-image:url("../images/i-9-ac.png") ;}
.content-sidebar li.sidebar-ac a.regulatory-network i{background-image:url("../images/i-10-ac.png") ;}
.content-sidebar li.sidebar-ac a.coexpression-network i{background-image:url("../images/i-11-ac.png") ;}
.explains{
    float: left;
    background: #fff;
    width:75.82333%;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
}

.explain-h{
    font-size: 16px;
    height: 54px;
    line-height: 50px;
    padding-left: 30px;
    background: #f5f8ff;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
}
.explain-list{  min-height: 671px;}
.list-ac{display: block}
.explain-b{padding: 28px}
.explain-b table{width: 100%}
.explain-b tbody tr{
    height: 50px;
}
#basic .explain-b tbody tr td:first-child{
    background: #f5f8ff;
    /*position: relative;*/
}
.zwsj{padding: 10px;}
#basic .explain-b tbody tr td:nth-child(2){text-align: center;padding: 10px 10px 10px 30px}
#sequence .explain-b tbody tr td:first-child{
    background: #f5f8ff;
}
#gene-structure .explain-b tbody tr td:first-child{
    background: #f5f8ff;
}
#gene-annotation tbody tr:nth-child(odd){
    background: #f5f8ff;
}

/*基因家族*/
#gene-family  thead tr th{
    border: 1px solid #e6e6e6;
    height: 35px;
    background: #f5f8ff;
    white-space:nowrap;
}
#gene-family .explain-b tbody tr{
    height: 35px;
    text-align: center;

}
#gene-family .explain-b tbody tr td{
    padding: 0 10px;
}
#gene-family .explain-b tbody tr:nth-child(even){
    background-color: #f5f8ff;
}
.explain-b .total-page-count{height: 27px!important;}
/*同源基因*/
#homologous-gene  thead tr th{
    border: 1px solid #e6e6e6;
    height: 45px;
    background: #f5f8ff;
}
#homologous-gene tbody tr td{text-align: center}
.explain-b tbody tr td:first-child{
    width: 253px;
    text-align: center;
}
.explain-b tbody tr td:last-child{
    padding-left: 30px;
}
.explain-b tbody tr td{
    border: 1px solid #e6e6e6;
}
.arabi-link{color: #5c8ce6}
/*c参考序号*/
.gene-sequence{
    width: 573px;
    word-break: break-all;
    height: 140px;
    overflow-y: auto;
    text-align: left;
}
.copy-ac{background-color: #5c8ce6;color: #fff}
.sequence-name{font-size: 16px}
.copy:hover{cursor: pointer}
.copy{
    width: 80px;
    height: 30px;
    background: #5c8ce6;
    border: 1px solid #5c8ce6;
    color: #fff;
    margin-top: 10px;
}
#gene-annotation .explain-b tbody tr {
    height: 42px;
}
#gene-annotation .explain-b tbody tr td{
    text-align: center;
    padding: 0 10px;
}
#kegg-gene-annotation{margin: 27px 0}
.copy img{width: 11px;height: 13px;float: left;margin-top: 3px;margin-left:6px}

/*基因结构*/
.color-example{
    text-align: right;
    margin-bottom: 25px;
    height: 46px;
    line-height: 46px;
}
.color-example label{
    display: inline-block;
    border: 1px solid #e6e6e6;
    padding: 0 20px;
}
.color-example span{padding-left:15px}
.color-example span:first-child{padding-left: 0}
.color-example span i{display: inline-block;width: 15px;height: 15px;border-radius:8px;background: #5c8ce6;    vertical-align: sub;
    margin-right: 5px;}
.color-example span i.cor-pro{background:#c7e1ff }
.color-example span i.cor-5utr{background:#f87481}
.color-example span i.cor-cds{background:#0099bb}
.color-example span i.cor-3utr{background:#ffb902}
.item li:hover{cursor: pointer}
.structure-list{border: 1px solid #e6e6e6;    padding-bottom: 20px;border-bottom:none;}
.structure-list:last-child{border-bottom: 1px solid #e6e6e6}
.structure-list a{
    color:#5c8ce6;
    font-size: 18px;
    padding-left: 18px;
    margin-bottom: 15px;
    margin-top: 15px;
    display: block;
}
.btn-download-more{
    padding-top:25px ;
    padding-left: 20px;
    padding-bottom: 15px;
}
.btn-download-more button{
    font-size: 14px;
    margin-right: 5px;
    background-color: #5c8ce6;
    border: 1px solid #5c8ce6;
    cursor: pointer;
    width: 120px;
    height: 34px;
    color: #fff;

}
.hide-tab .more-txt{display: none}
.show-tab .more-txt{display: block}
.more-txt table{
    width: 95%;
    margin: 0 auto;
    padding-bottom: 10px;
}
.more-txt table tr{
    height: 35px;
}
.more-txt table tr td{
    text-align: center;
}
.more-txt table tr td:first-child{
    width: 150px;
}
/*表达数据*/
#expression-data .explain-b{
    overflow-x: scroll;
    margin: 20px;
    padding: 0;
}
#expression-table thead td{
    border:1px solid #e6e6e6;
    white-space: nowrap;
    height: 35px;
    padding: 0 15px;
    background-color: #f5f8ff;
}
#expression-table thead td img{width: 15px;height: 15px}
#expression-table tbody tr:nth-child(even){
    background-color:#f5f8ff ;
}
#expression-table tbody td{padding: 0 10px;white-space: nowrap;position: relative;}
.js-export-line{
    width: 80px;
    height: 35px;
    border-radius: 3px;
    background-color: #5c8ce6;
    border: 1px solid #5c8ce6;
    color: #fff;
}
.line-head{position: relative;}
.genes-choose-export{
    position: absolute;
    top: 26px;
    right: 0;
}
.genes-choose-export button:hover{
    cursor: pointer;
}
/*变异数据*/
.genes-tab{overflow-x: scroll;width:100%}
.genes-tab thead tr{background-color: #F5F8FF;}
.genes-tab thead tr td{border:1px solid #e6e6e6;white-space: nowrap;padding: 3px 30px;height: 40px}
.genes-tab thead tr td img{
    width: 15px;
    vertical-align: middle;
    padding-left: 8px;
}
#tableBody tr,.js-indel-table tbody tr{height: 40px}
#tableBody tr:nth-child(even),.js-indel-table tbody tr:nth-child(even){background-color: #f5f8ff}
#tableBody td,.js-indel-table tbody tr td{border:1px solid #e6e6e6;padding: 0 20px}
/*qtl 数据*/
#qtl-data .checkbox-list thead tr td{position: relative}
/*---------------------登陆 */
.loginC{    width: 334px;
    height: 360px;
    margin: 90px auto;
    background: #fff;
    box-shadow: 0 0px 8px 4px rgba( 0,0,0,.1);
    padding: 15px 20px;
}
.login-h{
    text-align: center;
    padding: 20px 0 15px 0;
    font-size: 18px;
    border-bottom: 2px solid #5c8ce6;
}
.form{position: relative}
.form .er{
    color: #f00;
    position: absolute;
    padding-top: 10px;
    /*display: none*/
}
.signup .form{
    margin-top: 10px;
}
.signup .form .er{
    top: -38px;
}
.form label{
    display: inline-block;
    /*width: 100%;*/
    height: 38px;
    line-height: 38px;
}
.form label img{
    width: 16px;
    height: 16px;
    vertical-align: middle;padding: 0 10px;
}
.form label input{
    width: 335px;
    height: 37px;
    border: 1px solid #e6e6e6;
    padding-left: 35px;
    padding-right: 22px;
}
.clear{
    display: none;
    width: 20px;
    text-align: center;
    color: #b9b9b9;
    float: right;
}
.clear:hover{
    cursor: pointer
}
.user{
    margin-bottom: 20px;
    margin-top: 40px;
}

.form label.user input{
    background-image:url("../images/i-u.png");
    background-repeat: no-repeat;
    background-position: 8px center;
}
.form label.pwd input{background:url("../images/i-p.png")no-repeat 8px center;}
.form label.u-focus,.form label.p-focus{border:1px solid #5c8ce6}
.u-focus img{}
.u-focus .clear,.p-focus .clear{display: block}
.user .clear{
    position: absolute;
    top: 42px;
    right: 5px;
    z-index: 10;
}
.pwd .clear{
    position: absolute;
    top: 102px;
    right: 5px;
    z-index: 10;
}
.un-login{float: left}
.forgetpwd{float: right}
.m-unlogin{
    margin-top: 16px;
    margin-bottom: 16px;
}
.m-unlogin:after{
    content:"";
    display: block;
    clear: both;
}

.loginbox{
    display: block;
    clear: both;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 30px;
    height: 40px;
    line-height: 40px;
    background: #5c8ce6;
    color: #fff;
    font-size: 16px;
    width: 100%;
    border: 1px solid #5c8ce6;
}
.reg{text-align: center}
.reg a{color: #5c8ce6}
/*--------------------------注册*/
.signup{
    background-color: #fff;padding: 30px 40px;
    background-image: url("../images/i-reg.png");
    background-repeat: no-repeat;
    background-position: 800px center;
    margin-bottom: 50px;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
}
.signup form >div{
    margin-bottom: 15px;
}
.signup form >div >label >span{
    width: 80px;
    text-align: right;
    display: inline-block;
    padding-right: 20px;
}
form label b{
    display: inline-block;
    text-align: left;
    color: #f00;
    float: left;
}
.stars-tips{}
.stars-tips b{ color: #f00;}
.signup form >div >label >input{
    width: 358px;
    height: 38px;
    border: 1px solid #e6e6e6;
    padding-left: 10px;
}
.js-ref{background-color:#5c8ce6;border: 1px solid #5c8ce6;width: 358px;height: 48px;line-height: 48px;border-radius: 3px;color: #ffffff;font-size: 16px }
.reg-u label{float: left}
.reg-u:after{content: "";display: block;clear: both}
span.tips{color: #999;padding-left: 10px;display: inline-block;}
/*---------------------------------------忘记密码*/
.forget-h{
    background-color: #F5F5F5;
    background-color: #F5F5F5;
    height: 40px;
    line-height: 40px;
    box-shadow: 0px 1px 1px 2px rgba(0,0,0,0.1);
    margin-bottom: 2px;
    padding-left: 132px;
    font-size: 16px;
}
.forget{
    background-color: #ffffff;
    padding: 30px 0 30px 120px;
    margin-bottom: 50px;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
    min-height: 500px;
}
.forget form >div {
    margin-bottom: 15px;
}
.forget form >div >label >span {
    width: 80px;
    text-align: right;
    display: inline-block;
    padding-right: 20px;
}
.forget form >div >label >input {
    width: 358px;
    height: 38px;
    border: 1px solid #e6e6e6;
    padding-left: 10px;
}
.forget .js-ref{margin-left: 105px}
/*-----------遮挡层*/
#mask{
    width: 100%;
    height: 100%;
    background: #000;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    opacity: 0.4;
    filter: alpha(opacity =40);
}
#waiting{
    width: 400px;
    height: 200px;
    position: absolute;
    top: 35%;
    left: 40%;
    background-color: #fff;
    z-index: 11;
}
.waiting{padding: 10px 20px}
.waiting-h{text-align: center;padding-top: 25px;padding-bottom: 10px}
.waiting-h img{width: 40px;height: 40px;}
.waiting-b{text-align: center}
.b-index{width: 200px;height: 40px;margin-top:35px;background-color: #5c8ce6;color: #ffffff;display: inline-block;line-height: 40px;border-radius: 3px}

.js-tipes-show{
    width: 200px;
    height: 22px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.js-tipes-show a{color: #5c8ce6}
.pt .cont{height: auto!important;}
#netPic02{padding: 0 30px}
input::-moz-placeholder {
    color:#999;
    font-size:14px;
}
input::-moz-placeholder {
    color:#999;
    font-size:14px;
}
input::-ms-input-placeholder {
    color:#999;
    font-size:14px;
}
