/*index*/
body
{
    height: 100%;
    width:100%;
    min-width: 1200px;
}
.js-gene-info {
    cursor: pointer;
}
button {
    cursor: pointer;
}
.banner{
    background-color: #fff;
    padding-bottom: 20px;
    margin-bottom: 10px;
    box-shadow: 0 0 2px rgba(0,0,0,0.2);
}
.plant-pic {
    width: 1050px;
    height: 508px;
    margin: 0 auto;
    overflow: hidden;
}

.nav li {
    position: relative;
}

.nav .second-text a {
    float: left;
    padding: 5px;
    display: block;
    margin-right: 15px;;
}

.nav .second-text a:hover {
    background-color: #eff3fa;
    color: #5c8ce6;
    border-radius: 2px;
}


.index-highcharts img{
    width: 895px;
}
/******************* mRNA list****************/

.tab-search .search {
    width: 100%;
}
.checkbox-item{
    float: left;
}
.table-item{
    padding: 12px 30px;
    background-color: #fff;
    margin-bottom: 10px;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.2);
}
.table-item:after{
    content: "";
    display: block;
    clear: both;
}
.che-list{
    width: 900px;
    height: 100px;

}
.che-list .tab-title{
    padding-right: 20px;
    float: left;
}
.che-list dl{
    float: left;
    width: 770px;
}
.che-list dl dd{
    float: left;
    padding-right: 30px;
    padding-bottom: 15px;
}
.che-list dl dd span,.have-chosen-tab label span{
    width: 14px;
    height: 14px;
    background-image: url(../images/contrast.png);
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-right: 8px;
    display: inline-block;
}
.table-item .export-data{
    position: relative;
}

.btn-default{
    float: left;
}
.choose-default{
    padding-left:78px ;
    clear: both;
}
.choose-default  .btn-group{
    position: relative;
    float: right;
    width: 175px;
}
.btn-default label{
    padding-right: 30px;
}
.btn-default span{
    display: inline-block;
    width: 14px;
    height: 14px;
    background-image: url(../images/contrast.png);
    vertical-align: middle;
    margin-right: 8px;
}
.have-chosen-tab label.choose-tab-ac span,.che-list dl dd label.choose-tab-ac span{
    background-image: url(../images/contrast-ac.png);
}
.item-ac .checkbox-item,.item-ac  .choose-default{
    display: none;
}
.item-ac .btn-export-set .set-up{
    display: block;
    float: right;
}
/*.item-ac .export-data .btn-export-set .set-up{*/
    /*display: block;*/
/*}*/
.checkbox-item-tab{
    padding: 0 30px;
}
.dif-col{
    float: right;
    padding: 15px 0;
}

.dif-col span{
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 5px;
    position: relative;
}
.dif-col label:nth-child(1){
    margin-right: 10px;
}
.gene-expression:after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 0;
    height: 0;
    border-top: 25px solid #3C69D0;
    border-bottom: 25px solid transparent;
    border-left: 25px solid transparent;
}
.dif-gene:after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 0;
    height: 0;
    border-top: 25px solid #ED8F2F;
    border-bottom: 25px solid transparent;
    border-left: 25px solid transparent;
}
.genes-tab{
    width: 100%;
    min-height: 150px;
    overflow-x: scroll;
}
.genes-tab table{
}
.genes-tab table td{
    border: 1px solid #e6e6e6;
    padding: 10px 15px;
    text-align: center;
}
.genes-tab tr td img {
    width: 15px;
    vertical-align: middle;
    padding-left: 8px;
}
.genes-tab thead tr:nth-child(odd){
    background-color: #F5F8FF;
}
.genes-tab tbody tr:nth-child(even){
    background-color: #F5F8FF;
}
.genes-tab thead tr td{
    white-space: nowrap;
}
.genes-tab tbody tr td{
    text-align: center;
    position: relative;

}

.genes-tab tbody tr td p a{
    color: #5c8ce6;
}

.genes-tab tbody tr td.t_phenoType p,.genes-tab tbody tr td.t_geneType p,.genes-tab tbody tr td.t_study p,.genes-tab tbody tr td.t_reference p,.genes-tab tbody tr td.t_stage p,.genes-tab tbody tr td.t_treat p,.genes-tab tbody tr td.t_environment p{
    width: 200px;
    height: 22px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
/*.genes-tab tbody tr td.t_reference p{*/
    /*width: 400px;*/
/*}*/
/*.genes-tab tbody tr td.t_stage p{*/
    /*width: 400px;*/
/*}*/
/*.genes-tab tbody tr td.t_treat p{*/
    /*width: 400px;*/
/*}*/

td.gene-expression:after{
    border-top: 15px solid  #3C69D0;
    border-bottom: 15px solid transparent;
    border-left: 15px solid transparent;
}
td.dif-gene:after{
    border-top: 15px solid #ED8F2F;
    border-bottom: 15px solid transparent;
    border-left: 15px solid transparent;
}
.gene-expression p{
    width: 200px;
}

.btn-clearAll {
    background-color: #ffffff;
    border: none;
    padding: 0 10px;
    border-right: 1px solid #ececec;
    color: #5c8ce6;
}
.btn-clearAll:hover,.btn-toggle:hover{
    cursor: pointer;
}
/**************** mRMA dif*******************/
.mRMA-dif .contant{
    background-color: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,0.2);
    margin-bottom: 10px;
}
.change-resulting{
    margin: 0 30px;
    height: 60px;
    padding-top: 20px;
}
.change-resulting p{
    line-height: 18px;
    font-size:18px;
    border-left: 5px solid #5c8ce6;
    padding-left: 10px;
    margin-bottom: 5px;
}
.change-resulting label{
   margin-left: 16px;
    font-size:14px;
}
.change-resulting label span{
    color: #999999;
    padding-right: 10px;
}
.change-resulting label a{
    color: #5c8ce6;
}
.resulting-item{
    padding: 0 30px;
    height: 40px;
    line-height: 40px;
    border-top:1px solid #e6e6e6;
    border-bottom:1px solid #e6e6e6
}
.resulting-item label{
    padding-right: 100px;
    font-size: 14px;
}
.resulting-item label:last-child{
    padding-right: 0;
}
.resulting-item  .item-title{
    color: #666666;
}
.resulting-item  .item-dec{
    color: #999999;
    padding-left: 10px;
}
.sample-contrast{
    padding:20px 30px;
    position:relative;
}
.sample-contrast:after{
    content: "";
    clear: both;
    display: block;
}
.contrast{
    float: left;
    padding-bottom: 30px;
}
.contrast:after{
    content: "";
    display: block;
    clear: both;
}
.contrast-checkbox{
}
.checkbox-list{
    padding-top: 10px;
}
.checkbox-list label{
    padding-right: 30px;
}
.checkbox-list label {
    font-size: 14px;
    color:#666666;
}
.checkbox-list label span{
    display: inline-block;
    width: 14px;
    height: 14px;
    background-image: url(../images/contrast.png);
    background-repeat: no-repeat;
    vertical-align: middle;
    padding-right: 8px;
}
.checkbox-list label.contrast-ac span{
    background-image: url(../images/contrast-ac.png);
}
.checkbox-list label.contrast-all{
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
}
.export{
    float: right;
}
.export button{
    padding: 5px 15px;
    color: #fff;
    background-color: #5c8ce6;
    border:1px solid #5c8ce6;
    border-radius: 3px;
}
.btn-group {
    position: absolute;
    width: 193px;
    right: 0px;
}
.export-data{
    float: right;
}
.export-data .btn-export-set button {
    background-color: #5c8ce6;
    width: 120px;
    height: 34px;
    line-height: 30px;
    color: #ffffff;
    border-radius: 3px;
    border: none;
}
.export-data button {
    font-size: 14px;
    margin-right: 5px;
    background-color: #ffffff;
    cursor: pointer;
}
.btn-confirm {
    border: none;
    color: #5c8ce6;
    border: 1px solid #5c8ce6;
    width: 60px;
    height: 30px;
    background-color: #ffffff;
}
.btn-chooseAll {
    background-color: #ffffff;
    border: none;
    padding: 0 10px;
    border-right: 1px solid #ececec;
    color: #5c8ce6;
}
.btn-toggle {
    border: none;
    color: #5c8ce6;
    background-color: #ffffff;
    padding-left: 6px;
}
.btn-toggle img {
    width: 15px;
    vertical-align: middle;
    margin-left: 5px;
}
.sample-tab{
}
.sample-tab p{
    padding-bottom: 15px;
}
.tab-item{
    margin-bottom: 15px;
}
.tab-item tr.choose-ac{
    background-color: #edf1f7;
}
.tab-item thead tr.choose-ac{
    background-color: #fff;
}
.tab-item tr.choose-ac  span{
    background-image: url(../images/contrast-ac.png);
}
.tab-item tr td{
    border: 1px solid #e6e6e6;
    height: 40px;
    padding: 3px 40px;
}
.tab-item tr td span{
    width: 14px;
    height: 13px;
    background-image: url(../images/contrast.png);
    display: block;
}
.tab-item tr td.serial-number{
    padding:3px 15px;
}
.genes-conditional-search{
    height: 60px;
    margin: 0 30px;
    border-top: 1px solid #e6e6e6;
    line-height: 60px;
}
.genes-conditional-search div{
    float: left;
    height: 40px;
    line-height: 40px;
    margin-top: 10px;
}
.genes-search{
}
.genes-search span{
    float: left;
}
.genes-search input{
    float: left;
    width: 315px;
    height: 38px;
    outline: none;
    border: 1px solid #e6e6e6;
    padding: 0 10px;
    margin-left: 10px;
}
.genes-search button{
    width: 120px;
    height: 40px;
    border: 1px solid #5c8ce6;
    background-color: #5c8ce6;
    color: #ffffff;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    float: left;
    cursor: pointer;
}
.genes-search button img{
    vertical-align: middle;
    margin-right: 10px;
    width: 15px;
}
.change-select{
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 20px;
    border-left: 1px solid #e6e6e6;
}
.change-select select{
    width: 60px;
    border: 1px solid #5c8ce6;
    height: 40px;
    margin-right: -4px;
    border-right: none;
    color: #999;
}
.change-select select option{
    /*width: 60px;*/
}
.change-select input,.search-input input{
    height: 38px;
    width: 130px;
    border: 1px solid #5c8ce6;
}
.search-input input{
    padding: 0 5px;
    color: #ccc
}
input::-webkit-input-placeholder {
    color:#ccc;
    font-size:14px;
}
input::-moz-placeholder {
    color:#ccc;
    font-size:14px;
}
input::-moz-placeholder {
    color:#ccc;
    font-size:14px;
}
input::-ms-input-placeholder {
    color:#ccc;
    font-size:14px;
}
.mRMA-dif .icon-left img{
    height: 23px;
}
.mRMA-dif aside{
    height: 605px;
}
.add-genes{
    padding: 0 30px;
}
.add-genes p{
    text-align: center;
    color: #999;
    height: 30px;
    line-height: 30px;
}
.add-genes dl{
    border: 1px solid #e6e6e6;
    height: 425px;
    overflow: hidden;
}
.add-genes dl dd{
    height: 25px;
    line-height: 30px;
    padding: 3px 8px;
}
.add-genes dl dd.genes_ac{
    background-color: #dfe6f2
;
}
.add-genes dl dd a{
    display: block;
}
.gense-list{
    float: left;
    color: #333;
}
.close-pic{
    float: right;
}
.add-genes button{
    border: 1px solid #5c8ce6;
    background: #5c8ce6;
    color: #fff;
    border-radius: 2px;
    float:right;
    width: 120px;
    height: 30px;
    margin-top: 20px;
    cursor: pointer;
}
.genes-highcharts{
    float: right;
    width: 895px;
    background-color: #fff;
    height: 605px;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.2);
}
/********************** 组织特异性 ****************/

.tissue-specificity-charts{
    box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
    margin-bottom: 10px;
    background-color: #fff;
}
.genes-search{
    height: 40px;
    line-height: 40px;
}
.tissue-specificity-chartstab{
    padding: 0 30px;
}
.tissue-specificity-chartstab .genes-search{
    padding: 15px 0;
    border-bottom: 1px solid #e6e6e6;
}
.genes-result{
    padding: 10px 0;
    border-bottom: 1px solid #e6e6e6;
}
.genes-result:after,.box-chart:after,.choose-genes:after{
    content: "";
    display: block;
    clear: both;
}
.genes-result-left,.genes-result-right{
    border: 1px solid #e6e6e6;
    padding: 10px;
    width:450px;
    height: 89px;
    overflow-y: auto;
}
.genes-result-left a,.genes-result-right a{
    color: #666;
}
.genes-result-left a:hover,.genes-result-right a:hover{
    color: #5c8ce6;
}
.genes-result-left, .genes-result-mid,.have-chosen-num,.line-chart .item-header{
    float: left;
}
.genes-result-right,.genes-result-confirm, .genes-choose-export,.set-genes-tab{
    float: right;
}
.genes-result-mid {
    padding: 20px;
}
.genes-result-mid button{
    width: 155px;
    height: 35px;
    font-size: 18px;
    background-color:#fff;
    border: 1px solid #5c8ce6;
    color: #5c8ce6;
}
.genes-result-chooseAll{
    padding-bottom: 10px;
}
.genes-result-confirm{
    padding-top: 10px ;
}
.genes-result-confirm button,.genes-choose-export button{
    width: 120px;
    height: 40px;
    border: 1px solid #5c8ce6;
    background-color: #5c8ce6;
    color: #ffffff;
    border-radius: 3px;;
}
.box-line-chart{
    box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
    background-color: #ffffff;
}
.box-chart .icon-left img,.line-chart .icon-left img{
    width: 27px;
    height: 28px;
    padding-right: 10px;;
}
.box-chart{
    padding: 0 30px;
    border-bottom: 1px solid #e6e6e6;
}
.box-header,.line-chart .line-head{
    height: 65px;
    line-height: 65px;;
    border-bottom: 1px solid #e6e6e6;
}
.box-chart .item-header{
    float: left;
    border-bottom:none;
    padding-left:0
}
.box-contant{
    position: relative;
    border-bottom: 1px solid #e6e6e6;
}
.box-contant .btn-group{
    position: relative;
    left: 974px;
    display: inline-block;
}
.box-contant .che-list{
    padding-top: 30px;
    padding-bottom: 30px;
    width: 1000px;
    height: 110px;
}
.box-contant .che-list dl{
    width: 880px;
}
.box-contant .che-list .tab-title{
    padding-right: 0;
}
.have-chosen{
    margin-bottom: 10px;
}
.have-chosen-num{
    color: #5c8ce6;
}
.have-chosen-tab{
    height: 24px;
}
.have-chosen-tab label{
    padding-right: 5px;
    padding-left: 15px;
}
.have-chosen-tab label span{
    /*padding-right: 6px;;*/
}
.have-chosen-tab label span img{
    vertical-align: middle;
}
.box-genes-tab{
    height: 80px;
    overflow-y: scroll;
    border: 1px solid #e6e6e6;
}
.box-genes-tab dl{
    padding: 10px 15px;;
}
.line-chart .item-header{
    /*margin: 0 30px;*/
    padding-left: 0;
}
.line-chart{
    padding: 0 30px;;
}
.box-contant{
    padding: 15px 0;
}

a.tips-qtl{
    float: left;
    padding: 5px ;
    display: block;
    margin-right: 15px;
    border-radius:3px;
}
a.tips-qtl:hover{
    background-color: #eff3fa;
    color: #5c8ce6;
}
.title {
    color: #333;
    font-size: 14px;
    margin-left: 6px;
}
.sub-title {
    color: #999;
    font-size: 12px;
    margin-left: 6px;
}

.ga-mask {
    position: absolute;
    background: rgba(255,255,255,0.6);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.ga-mask > div {
    text-align: center;
    margin-top: 30%;
}