/*!*--弹窗样式--*!*/

.ui-dialog-titlebar {
    cursor: move;
    height: 40px;
    line-height: 40px;
    background-color: #386cca;
    color: #fff;
    text-align: right;
}

.sortZzText b {
    font-weight: normal;
}

.sort_lab {
    position: relative;
    top: 12px;
}

.ui-dialog-buttonset .ui-button {
    width: 50px;
    position: absolute;
    top: 10px;
    right: 0px;
    background-color: #386cca;
    color: #fff;
    padding: 0 20px;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.ui-dialog-titlebar .ui-button {
    background-color: #386cca;
    color: #fff;
    padding: 0 20px;
    font-size: 20px;
    border: none;
}

#gray {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0px;
    display: none;
    z-index: 0;
}

/*select样式*/
.sort_xz {
    display: -webkit-box;
}

/*.sort_zz{float: left;    }*/
.sort_zz_lab {
    display: -webkit-box;
    position: relative;
}

.sort_top {
    overflow: hidden;
}

.sortSpan {
    float: right;
}

.sortSpan img {
    padding-right: 3px;
}

.sortResult {
    padding: 24px 20px 16px 20px;
}

.sortSpan button {
    width: 100px;
    height: 30px;
    border: 1px solid #5c8ce6;
    background: #fff;
    color: #5c8ce6;
    border-radius: 2px;
}

.sortTitle {
    font-size: 18px;
    color: #5c8ce6
}

.sortInfo_btn {
    width: 80px;
    height: 30px;
    border: none;
    background: #5c8ce6;
    color: #fff;
    border-radius: 2px;
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    right: 20px;
    top: 68px;
}

.sortMain {
    border-top: 1px solid #ddd;
}

.sortZzText .sortText {
    border: 1px solid #DDDDDD;
    padding: 0px 6px;
    margin-right: 6px;
    display: none;
    padding: 0px;
    margin-right: 6px;
}

.sortText .sortText_conter {
    margin-right: 0px;
}

.sortText_div {
    width: 800px;
    float: left;
}

.sortZzText span {
    border: 1px solid #DDDDDD;
    padding: 0px 6px;
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 6px;
    line-height: 20px;
    color: #666;
    background: #e1e8f5;
}

.sortZzGb {
    padding: 0 6px;
    cursor: pointer;
}

.sortGb {
    cursor: pointer;
    padding: 0 6px;
    display: none;
}

.sortText_tit {
    width: 40px;
    float: left;
    position: relative;
    top: 6px;
}

body .tab-detail-tbody tr td {
    padding: 0px 15px;
}

.soetTable {
    min-width: 860px;
}

.soetTable .geneId a {
    color: #5c8ce6;
    cursor: pointer;
}
.tishi{
    position: relative;
    top: 14px;
    padding-left: 12px;
    color: #5c8ce6;
    font-size: 12px;
}
.tishi img{padding-right: 6px; vertical-align:bottom}
/*.soetTable .description{width: 200px;}*/
body .sortMainImg {
    border: none;
    padding: 0 12px 12px 12px;
}

body .tab-detail-tbody thead tr {
    height: 50px;
    background-color: #f5f8ff !important;
}

.ydy {
    height: 424px;
    width: 100%;
}

.combo-select {
    position: relative;
    max-width: 160px;
    margin-bottom: 15px;
    font: 100% Helvetica, Arial, Sans-serif;
    border: 1px #ccc solid;
    border-radius: 3px;
    position: relative;
    top: 8px;
}

.combo-select .combo-input {
    margin-bottom: 0;
}

.sort_zz .select_con {
    width: 700px;
    max-height: 79px;
    /*overflow-y: scroll;*/
    padding-left: 72px;
    overflow: hidden;
    padding-bottom: 6px;
}

.sort_zz .select_con li {
    float: left;
    margin-right: 30px;
    margin-top: 8px;
}

.sort_zz .select_con li span {
    width: 14px;
    height: 14px;
    background-image: url(../images/contrast.png);
    background-repeat: no-repeat;
    vertical-align: middle;
    display: inline-block;
    padding-right: 6px;
}

.sort_zz .select_con li.checked span {
    background-image: url(../images/contrast-ac.png);
}

/**
 * Input field
 */
.combo-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    border: none;
    width: 100%;
    box-sizing: border-box;
    padding: 7px 12px;
    padding-right: 60px;
    border-radius: 3px;
}

.combo-input:focus {
    outline: none;
}

/**
 * Arrow
 */
.combo-arrow {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    width: 40px;
    font-size: 12px;
    color: #999999;
}

.combo-arrow:before {
    content: " ";
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #cccccc;
    display: block;
    width: 0;
    height: 0;
    top: 0;
    right: 15px;
    bottom: 0;
    position: absolute;
    margin: auto 0;
}

/**
 * When opened
 */
.combo-open .combo-arrow {
    border-color: #51A7E8;
}

.combo-open .combo-arrow:before {
    border-top: none;
    border-bottom: 5px solid #cccccc;
}

/**
 * When focused
 */
.combo-focus {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    border-color: #51A7E8;
}

.combo-focus input {
    border-color: #51A7E8;
}

/**
 * Hide native select
 */
.sortText_main {
    /*display: flex;*/
    overflow: hidden;
    background: #f2f2f2;
    padding: 5px 20px;
    min-height: 32px;
}

.sortText .sortText_conter {
    border: none;
    float: inherit;
    margin-bottom: 0px;
    margin-top: 0px;
}

.sortZzText {
    overflow: hidden;
    padding-left: 5px;
    overflow-y: auto;
    max-height: 64px;
}

.combo-select select {
    display: none;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-appearance: none;
    opacity: 0;
}

@media only screen and (min-width: 960px) {
    .combo-select select {
        left: -1px;
        top: -1px;
        width: 0;
        height: 0;
        margin: 0;
    }
}

/**
 * Selected option
 */
.option-selected {
    background-color: #eee;
}

.sort_selectConter {
    padding: 10px 20px;
    position: relative
}

/**
 * Hovered option
 */
.option-hover {
    /*background-color: #006eab;*/
    color: #fff;
}

/**
 * Option item
 */
.option-item {
    cursor: pointer;
    border-bottom: 1px #e3e3e3 solid;
}

.option-item:hover {
    background-color: #006eab;
    color: #fff;
}

.option-item:last-child {
    border-bottom: none;
}

/**
 * Disabled and optgroups
 */
.option-group {
    cursor: text;
    font-weight: 600;
    background: #e1e1e1;
    border: 1px #ccc solid;
    border-width: 1px 0;
}

/**
 * Disabled
 */
.option-disabled {
    opacity: 0.5;
}

/**
 * Dropdown
 */
.combo-dropdown {
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 0;
    min-width: 100%;
    max-width: 300px;
    max-height: 300px;
    margin: 0;
    padding: 0;
    display: none;
    overflow-y: auto;
    background: #fff;
    border: 1px solid #999999;
    border-radius: 0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    box-sizing: border-box;
}

.combo-dropdown li {
    list-style: none;
    padding: 5px 1em;
    margin: 0;
}

/**
 * On Active
 */
.combo-open .combo-dropdown {
    display: block;
}

/**
 * Search marker
 */
.combo-marker {
    text-decoration: underline;
}

/*下拉样式修改*/
.option-item:hover {
    background-color: #e5edff;
    color: #666;
}

.option-hover {
    /*background-color: #e5edff;*/
    color: #666;
}

.option-selected {
    background-color: #e5edff;
}

/*.sort_xz input::-webkit-input-placeholder {*/
    /*color: #000 !important;*/
/*}*/

/*.sort_xz input:-moz-placeholder{*/
    /*color: #000 !important;*/
/*}*/
.sort_xz input::-webkit-input-placeholder { /* WebKit browsers */
    color: #000 !important;
    opacity:1;
}
.sort_xz input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #000 !important;
    opacity:1;
}
.sort_xz input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #000 !important;
    opacity:1;
}
.sort_xz input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #000 !important;
    opacity:1;
}


#inputText{
    filter:alpha(opacity=0); /* IE */
    -moz-opacity:0; /* 老版Mozilla */
    -khtml-opacity:0; /* 老版Safari */
    opacity: 0; /* 支持opacity的浏览器*/
}

.ui-dialog-titlebar{text-align: center;}
.ui-dialog-titlebar .ui-dialog-title{font-size: 16px;}